{% extends 'layout.html' %}

{% block body %}
<br>
<div class="jumbotron text-center">
    {% if session.logged_in == NULL%}
        <h1>Welcome to Chat Club</h1>
        <p class="lead">Welcome to Chat Club!!!</p>
        <a href="/register" class="btn btn-primary btn-lg">Sign Up</a>
        <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% else %}
        <h1>Hi {{ session.s_name }}</h1>
        <p class="lead">Welcome to Chat Club!!!</p>
        <a href="/chatting/{{ session.uid }}" class="btn btn-primary btn-lg">Let's Start Chat</a>
    {% endif %}
</div>
{% endblock %}